<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
{% if site.data.site.gtm_container_id and site.data.site.gtm_container_id != "" %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.data.site.gtm_container_id }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ '/assets/js/events.js' | relative_url }}"></script>
</body>
</html>

